<!doctype html>


<h2 align="center">About the Halloween Movie Database</h2>

<br>
<br>

<div class="container-fluid">
<h3>Reason</h3>

  <p>
  People are very busy and do not need to waste time on a movie that leaves them feeling that they chose the wrong film or left 
  searching for hours to find a film that will hopefully satisfy that movie monster itch.  This movie database hopes to help users be 
  able to find a Halloween movie based on several different criteria.  The criteria could be based on sub-genres such as gore, family, 
  comedy or even related to what types of characters are included in the movie: Werewolves, Serial Killer, Vampires, etc. 
  <br>
  While this database and site grows and develops, hopefully it will become somewhat of a Halloween Community.
  </p>  


  
  
  <br>
<h3>Contact Info (Coming Soon..)</h3>	

</div>

</html>
