<!DOCTYPE html>
<html lang="en">
<h2 align="center">LOGIN PAGE</h2>

<div class="container"> 
  <form method="POST" action="/login">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="uname" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="pword" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>	

<h3> Create An Account </h3>

<!-- <button class="btn btn=primary"><a href="/register">Create Account</a></button> -->
<button class="btn" onclick="register()">Register</button>

</div>

</html>